.main-navigation {
  display: flex;
  justify-content: space-around;
  background-color: #95d4e9;
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  color: rgb(18, 1, 24);
}
